.header {
  padding: 20px 40px;
  position: relative;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    padding: 12px 16px;
  }
}

.nav {
  &__items {
    display: flex;
    gap: 24px;
    align-items: center;

    color: var(--white);
    font-size: 16px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}